/* =====  PUCP COLOR SCHEME  ===== */
/* Paleta PUCP institucional */
$sidebar-color: rgba(15, 44, 82, 0.90);

// Borde sólido azul un poco más claro
$sidebar-border-color: #0A3B7A;

// Texto legible en blanco
$nav-child-link-color: #FFFFFF;
$nav-child-link-hover-color: #E6E6E6;

// Hover sutil
$nav-hover-color: rgba(255, 255, 255, 0.15);
