/* =====  PUCP COLOR SCHEME  ===== */

/* Background + text */
$body-background-color: #0f203b;
$body-text-color: #ffffff;

/* Headings */
$body-heading-color: #ffffff;

/* Links */
$link-color: #4da3ff;
$link-color-hover: lighten($link-color, 10%);

/* Sidebar */
$sidebar-color: #0b1830;
$sidebar-border-color: #112652;

/* Navigation active state */
$nav-child-link-color: #d6e6ff;
$nav-link-color-active: #4da3ff;

/* Code blocks */
$code-background-color: #0d2648;
$code-border-color: #173b7a;
