$body-background-color: red;
$body-text-color: #E6ECF5;

$link-color: #003A8C;
$link-hover-color: #0050B3;

$btn-primary-color: #003A8C;
$btn-primary-hover-color: #0050B3;

$sidebar-color: #0F274A;
$sidebar-border-color: #2F4166;

$search-background-color: #1C3661;

$code-background-color: #13294B;
