/* =====  PUCP COLOR SCHEME  ===== */
/* Paleta PUCP institucional */

// SOLO cambiamos el sidebar
$sidebar-color: #0F2C52;          // azul profundo PUCP
$sidebar-border-color: #0A3B7A;   // borde azul

$nav-child-link-color: #FFFFFF;   // texto blanco
$nav-child-link-hover-color: #E6E6E6;

// hover de ítems del menú
$nav-hover-color: rgba(255, 255, 255, 0.15);
