/* =====  PUCP COLOR SCHEME  ===== */
/* Paleta PUCP institucional */
$body-background-color: #F5F6FA;   /* Fondo claro */
$body-text-color: #0F203B;         /* Texto oscuro */
$body-heading-color: #0F203B;      /* Títulos */

$link-color: #2869E6;              /* Azul de acento */
$link-color-hover: #004EA8;         /* Azul principal */

$sidebar-color: #0A7BC2;            /* Fondo del menú */
$sidebar-border-color: #004EA8;     /* Borde más intenso */

$btn-primary-color: #004EA8;
$btn-primary-hover-color: #0A7BC2;

$code-background-color: #E6EAF3;    /* Fondo de código */
$code-border-color: #C8D4E8;
