<p style="text-align:center;">
  Creado por <strong>Javier Alonso Jaimes Cucho</strong>
  <a href="https://orcid.org/0009-0009-8813-5367" style="color:green;" target="_blank">(ORCID)</a>
</p>
<div style="display:flex; justify-content:center; gap:10px; align-items:center;">
  <img src="{{ '/assets/images/Concytec.png' | relative_url }}" style="max-height:175px;">
  <img src="{{ '/assets/images/GERDISL.png' | relative_url }}" style="max-height:90px;">
  <img src="{{ '/assets/images/ProCiencia.png' | relative_url }}" style="max-height:90px;">
</div>
