<div style="padding: 20px; text-align:center;">
  <img src="{{ '/assets/images/Concytec.png' | relative_url }}"
       alt="Logo PUCP"
       style="max-width:150px; height:auto;">
</div>
<div style="padding: 10px; text-align:center;">
  <img src="{{ '/assets/images/PUCP.png' | relative_url }}"
       alt="Logo Proyecto"
       style="max-width:140px; height:auto;">
</div>
<div style="padding: 10px; text-align:center;">
  <img src="{{ '/assets/images/ProCiencia.png' | relative_url }}"
       alt="Logo Proyecto"
       style="max-width:140px; height:auto;">
</div>
