.title-bold {
  font-weight: bold;
}
/* Fondo general */
body {
  background:#0c2340;
  color:#ffffff;
}

/* Links */
a {
  color:#4da3ff;
}

/* Sidebar */
.site-nav {
  background:#0f2b5a;
  border-right:1px solid #173b7a;
}

/* Botones */
.btn {
  background:#1e4fa1;
  color:white;
}

/* Buscar */
.search-input {
  background:#122d5c;
  color:white;
}
